{% extends "mathchat/base.html" %}


{% block scripts %}{% endblock %}

{% block content %}
<div class='row'>
    <p class='col-sm'></p>
    <h1 class='col-sm'> Available rooms: </h1>
    <p class='col-sm'></p>
</div>

<hr />

<div class='container'>
    <div id="messages">
        {% for room in room_list %}
            <div class='row'>
                <p class='col-sm'></p>
                <p class='col-sm'> <a href='{% url "room" room.name %} '> {{room.name}} </a> </p>
                <p class='col-sm'></p>
            </div>
            <hr />
        {% endfor %}
    </div>
</div>
{% endblock %}
