{% extends "mathchat/base.html" %}


{% block scripts %}
<script>
    var socket =  new WebSocket('ws://' + window.location.host + '/mathchat' );

    socket.onopen = function () {
            console.log("Websockets connection created.");
    };

    if(socket.readyState == WebSocket.OPEN) {
        socket.onopen();
    }

    socket.onmessage = function (e) {
        var pgraph = document.createElement("P");
        var spn = document.createElement("SPAN");
        spn.appendChild(document.createTextNode(e.data));
        var spnMath = MQ.StaticMath(spn);
        pgraph.appendChild(spn);
        document.getElementById("messages").appendChild(pgraph);
        spnMath.reflow();
    }


    $(document).ready( function () {
        var textSpan = document.getElementById('textbox');
        var textMathField = MQ.MathField(textSpan);

        var messageList = document.getElementsByClassName('message');

        for(var i = 0; i < messageList.length; i++){
            MQ.StaticMath(messageList[i]);
        }

        $('#input-form').submit(function (e) {
            socket.send(textMathField.latex());
            textMathField.latex("");
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<h1> {{room_title}} </h1>

<div id="messages">
    {% for message in message_list %}
        <p> <span class='message'> {{message.body}} </span> </p>
    {% endfor %}
</div>

<form id='input-form'>
    <span id="textbox"></span>
    <input type="submit" value='send'>
</form>
{% endblock %}
