{% extends "mathchat/base.html" %}


{% block scripts %}
<script>
    var socket =  new WebSocket('ws://' + window.location.host + '/{{room_title}}' );

    socket.onopen = function () {
            console.log("Websockets connection created.");
    };

    if(socket.readyState == WebSocket.OPEN) {
        socket.onopen();
    }

    socket.onmessage = function (e) {
        var pgraph = document.createElement("P");
        var spn = document.createElement("SPAN");
        spn.appendChild(document.createTextNode(e.data));
        var spnMath = MQ.StaticMath(spn);
        pgraph.appendChild(spn);
        document.getElementById("messages").appendChild(pgraph);
        spnMath.reflow();
    }


    $(document).ready( function () {
        var textSpan = document.getElementById('textbox');
        var textMathField = MQ.MathField(textSpan);

        var messageList = document.getElementsByClassName('message');

        for(var i = 0; i < messageList.length; i++){
            MQ.StaticMath(messageList[i]);
        }

        $('#input-form').submit(function (e) {
            socket.send(textMathField.latex());
            textMathField.latex("");
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}
<div class='row'>
    <p class='col-sm'></p>
    <h1 class='col-sm'> {{room_title}} </h1>
    <p class='col-sm'></p>
</div>

<hr />

<div class='container'>
    <div id="messages">
        {% for message in message_list %}
            <div class='row'>
                <p class='col-sm'></p>
                <p class='col-sm'> <span class='message'> {{message.body}} </span> </p>
                <p class='col-sm'></p>
            </div>
            <hr />
        {% endfor %}
    </div>


    <form id='input-form'>
        <div class='row'>
            <span id="textbox" class='col-sm-11'></span>
            <input type="submit" class='col-sm-1' value='send'>
        </div>
    </form>
</div>
{% endblock %}
